Package: @@PACKAGENAME@@
Name: @@FULLPROJECTNAME@@
Version: 0.0.1
Architecture: iphoneos-arm
Description: A simple switch for the Flipswitch API!
Maintainer: @@USER@@
Author: @@USER@@
Section: Addons (Flipswitch)
Depends: mobilesubstrate (>= 0.9.5000), com.a3tweaks.flipswitch
