Package: @@PACKAGENAME@@
Name: @@FULLPROJECTNAME@@
Depends: com.opa334.ccsupport
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome Control Center module!
Maintainer: @@USER@@
Author: @@USER@@
Section: Control Center (Modules)
