Package: @@PACKAGENAME@@
Name: @@FULLPROJECTNAME@@
Depends: firmware (>= 7.0), com.saurik.substrate.safemode, com.chpwn.weeloader (>= 1.4-1)
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome widget for the notification center!
Maintainer: @@USER@@
Author: @@USER@@
Section: Addons (NotificationCenter)
