Package: @@PACKAGENAME@@
Name: @@FULLPROJECTNAME@@
Version: 0.0.1
Architecture: iphoneos-arm
Description: A simple event for the libactivator API!
Maintainer: @@USER@@
Author: @@USER@@
Section: Addons (Activator)
Depends: mobilesubstrate (>= 0.9.5000), libactivator (>= 1.8.3)
