Package: @@PACKAGENAME@@
Name: @@FULLPROJECTNAME@@
Description: A simple MobileSubstrate tweak!
Version: 0.0.1
Priority: optional
Section: Tweaks
Architecture: iphoneos-arm
Depends: mobilesubstrate
Maintainer: @@USER@@
Author: @@USER@@
