Package: @@PACKAGENAME@@
Name: @@FULLPROJECTNAME@@
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome SwiftUI application!
Maintainer: @@USER@@
Author: @@USER@@
Section: Utilities
Depends: ${LIBSWIFT}, firmware (>= 14.0)
